<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">CTDOGeUSnBuHaSys</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="isNavbarCollapsed=!isNavbarCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngbCollapse]="isNavbarCollapsed" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto"></ul>
      <ul class="navbar-nav">
        <li class="nav-item"><a [routerLink]="['products', 'create']" class="nav-link">New Product</a> </li>
        <li class="nav-item" routerLinkActive="active"><a [routerLink]="['users', 'create']" class="nav-link" [hidden]="currentUserService.hasUser()">New Mate</a></li>
        <li class="nav-item" ngbDropdown [hidden]="!currentUserService.hasUser()">
          <a [routerLink]="" class="nav-link" ngbDropdownToggle><img src="https://www.gravatar.com/avatar/50e23dbfb83b36409cdf9ef94a0506f3?s=444" class="nav-image"> Henne <span class="caret"></span></a>
          <div ngbDropdownMenu>
            <a ngbDropdownItem routerLink="/users/1/update" (click)="isNavbarCollapsed=!isNavbarCollapsed">Edit user</a>
            <a ngbDropdownItem [routerLink]="" (click)="isNavbarCollapsed=!isNavbarCollapsed">Logout</a>

          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
<main role="main" class="flex-shrink-0">
  <div class="container-fluid">
    <div *ngFor="let alert of alerts"><ngb-alert [type]="alert.type" (close)="close(alert)"><span [innerHTML]="alert.message"></span></ngb-alert></div>
    <router-outlet></router-outlet>
  </div>
</main>

